In [3]:
import pandas as pd
df = pd.read_csv('pokemon_data.csv')
print(df.head(10))

   #                       Name Type 1  Type 2  HP  Attack  Defense  Sp. Atk  \
0  1                  Bulbasaur  Grass  Poison  45      49       49       65
1  2                    Ivysaur  Grass  Poison  60      62       63       80
2  3                   Venusaur  Grass  Poison  80      82       83      100
3  3      VenusaurMega Venusaur  Grass  Poison  80     100      123      122
4  4                 Charmander   Fire     NaN  39      52       43       60
5  5                 Charmeleon   Fire     NaN  58      64       58       80
6  6                  Charizard   Fire  Flying  78      84       78      109
7  6  CharizardMega Charizard X   Fire  Dragon  78     130      111      130
8  6  CharizardMega Charizard Y   Fire  Flying  78     104       78      159
9  7                   Squirtle  Water     NaN  44      48       65       50

   Sp. Def  Speed  Generation  Legendary
0       65     45           1      False
1       80     60           1      False
2      100     80           1      False
3      120     80           1      False
4       50     65           1      False
5       65     80           1      False
6       85    100           1      False
7       85    100           1      False
8      115    100           1      False
9       64     43           1      False

In [98]:
#print(df.loc[df['Name']=='Bulbasaur'])
#df.sort_values('Name', ascending=True)# Sortiranje nizvodno od A - Å , single colon
df.sort_values(['Name','Type 1', 'HP'], ascending=False)
#print(df)

Book = {
    'Luka':[12,45,11,123],
    'Pavle':[12,45,11,123],
    'Baka':[12,45,11,123],
}

df1 = pd.DataFrame(Book)
pd.DataFrame(Book)

   Luka  Pavle  Baka
0    12     12    12
1    45     45    45
2    11     11    11
3   123    123   123